# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.sample1.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea.sample1.dir/.idea/encodings.xml
/.idea.sample1.dir/.idea/indexLayout.xml
/indexLayout.xml
/material_theme_project_new.xml
/.idea.sample1.dir/.idea/vcs.xml
/vcs.xml
